#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 35    // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
        track-remainders;
    };
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 6 1>; }; // ori: 2 1 (works pefectly with smooth scrolling=y)
&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <0>;       // 300
    delay-ms = <0>;                   // ori: 0
};

&mmv {
    time-to-max-speed-ms = <400>;
    acceleration-exponent = <1>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <35>;
    };

    macros {
        Court_Yes: Court_Yes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(C) &kp LS(Y) &kp E &kp S>;
            label = "COURT_YES";
        };

        agree_ag: agree_ag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp A &kp G>;
            label = "AGREE_AG";
        };

        disagree_dg: disagree_dg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp D &kp G>;
            label = "DISAGREE_DG";
        };

        your_honour: your_honour {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Y &kp H>;
            label = "YOUR_HONOUR";
        };

        agreement: agreement {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp A &kp G &kp M &kp T>;
            label = "AGREEMENT";
        };

        witness: witness {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp W &kp I &kp T &kp N>;
            label = "WITNESS";
        };

        witnesses: witnesses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp W &kp I &kp T &kp N &kp S>;
            label = "WITNESSES";
        };

        space_backspace: space_backspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp SPACE &kp BACKSPACE>;
            label = "SPACE_BACKSPACE";
        };

        bold_italics: bold_italics {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LC(B) &kp LC(I)>;
            label = "BOLD_ITALICS";
        };
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        Court_Yes {
            bindings = <&Court_Yes>;
            key-positions = <31 44 0>;
            layers = <0 1>;
        };

        your_honour {
            bindings = <&your_honour>;
            key-positions = <20 33>;
            layers = <0 1>;
        };

        agree {
            bindings = <&agree_ag>;
            key-positions = <27 31>;
            layers = <0>;
        };

        disagree {
            bindings = <&disagree_dg>;
            key-positions = <29 31>;
            layers = <0>;
        };

        agreement {
            bindings = <&agreement>;
            key-positions = <27 18 31>;
            layers = <0>;
        };

        witness {
            bindings = <&witness>;
            key-positions = <15 18>;
            layers = <0>;
        };

        witnesses {
            bindings = <&witnesses>;
            key-positions = <15 18 28>;
            layers = <0>;
        };

        space_backspace {
            bindings = <&space_backspace>;
            key-positions = <59 12>;
            layers = <0 1>;
        };

        fullscreen_shot {
            bindings = <&kp LG(PRINTSCREEN)>;
            key-positions = <56 5>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
&kp ESC     &kp N1     &kp N2        &kp N3        &kp N4  &kp N5         &kp UP_ARROW     &kp N6     &kp N7     &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB     &kp Q      &kp W         &kp E         &kp R   &kp T          &kp DOWN_ARROW   &kp Y      &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp CAPS    &kp A      &kp S         &kp D         &kp F   &kp G          &kp LEFT_ARROW   &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT   &kp Z      &kp X         &kp C         &kp V   &kp B          &kp RIGHT_ARROW  &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_SHIFT DEL
&kp C_MUTE  &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &mo 1   &lt 2 SPACE    &mt LC(V) LC(C)  &kp SPACE  &kp ENTER  &kp RCTRL  &mo 3    &tog 1
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "qwerty";
        };

        shortcut-numpad {
            bindings = <
&kp GRAVE       &kp LC(LEFT_BRACKET)  &kp LC(RIGHT_BRACKET)  &kp LS(F3)    &none       &none        &kp LC(UP_ARROW)    &kp LC(X)  &kp COMMA  &kp PERIOD         &kp QUESTION   &kp EQUAL         &kp BACKSPACE
&kp LS(GRAVE)   &none                 &none                  &kp LC(E)     &none       &kp LC(T)    &kp LC(DOWN_ARROW)  &kp LC(C)  &kp HOME   &kp UP_ARROW       &kp PG_UP      &kp BACKSLASH     &kp MINUS
&none           &kp LC(Y)             &kp LC(S)              &none         &kp INSERT  &none        &kp LC(LEFT_ARROW)  &kp LC(V)  &kp LEFT   &tog 1             &kp RIGHT      &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LEFT_SHIFT  &kp LC(Z)             &kp LC(X)              &kp LC(C)     &kp LC(V)   &kp LA(B)    &kp LC(RIGHT)       &kp INS    &kp END    &kp DOWN           &kp PAGE_DOWN  &trans            &mt RIGHT_SHIFT DELETE
&none           &kp LEFT_CONTROL      &kp LEFT_WIN           &kp LEFT_ALT  &none       &trans       &mt LC(V) LC(C)     &trans     &trans     &kp RIGHT_CONTROL  &none          &none
            >;

            display-name = "shortcut-numpad";
            sensor-bindings = <&scroll_encoder>;
        };

        macros-func. {
            bindings = <
&kp LC(NUMBER_1)      &kp LC(NUMBER_2)      &kp LC(NUMBER_3)      &kp LC(NUMBER_4)      &kp LC(N5)         &kp LC(NUMBER_6)        &kp UP_ARROW  &kp F1             &kp F2             &kp F3            &kp F4            &kp F5         &kp F6
&kp LC(LA(NUMBER_1))  &kp LC(LA(NUMBER_2))  &kp LC(LA(NUMBER_3))  &kp LC(LA(NUMBER_4))  &kp LC(LA(N5))     &kp LC(LA(NUMBER_6))    &kp DOWN      &kp F7             &kp F8             &kp F9            &kp F10           &kp F11        &kp F12
&kp LC(GRAVE)         &none                 &kp LA(GRAVE)         &kp LC(LA(GRAVE))     &kp LA(LS(GRAVE))  &none                   &kp LEFT      &none              &kp LA(NUMBER_1)   &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &none          &none
&kp LC(KP_N7)         &kp LC(KP_N8)         &kp LC(LA(KP_N7))     &kp LC(LA(KP_N8))     &kp LC(KP_N9)      &none                   &kp RIGHT     &kp LC(LA(KP_N6))  &kp LA(LC(KP_N9))  &none             &none             &none          &kp RSHIFT
&none                 &kp LCTRL             &none                 &kp LEFT_ALT          &trans             &none                   &none         &kp LC(LS(SPACE))  &none              &kp RCTRL         &none             &kp RIGHT_ALT
            >;

            display-name = "macros-func.";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        shortcut.2 {
            bindings = <
&trans  &trans  &trans         &trans         &trans         &trans           &trans  &trans  &trans         &trans         &trans  &trans  &trans
&trans  &trans  &trans         &trans         &trans         &trans           &trans  &trans  &trans         &bold_italics  &trans  &trans  &kp LC(LS(MINUS))
&trans  &trans  &kp LC(RA(S))  &trans         &trans         &trans           &trans  &trans  &trans         &trans         &trans  &trans  &trans
&trans  &trans  &kp LC(LA(X))  &kp LC(LA(C))  &kp LC(LS(V))  &kp LC(LS(B))    &trans  &trans  &kp LC(LA(M))  &trans         &trans  &trans  &trans
&trans  &trans  &trans         &trans         &mo 1          &trans           &trans  &trans  &trans         &trans         &trans  &trans
            >;

            display-name = "shortcut.2";
        };

        layer_1 {
            bindings = <
&kp GRAVE   &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &mmv MOVE_UP     &kp F6           &kp F7           &kp F8      &kp F9     &kp F10           &trans
&trans      &kp GRAVE        &mkp LCLK       &mkp MCLK        &mkp RCLK        &mkp MB4           &mmv MOVE_DOWN   &kp PG_UP        &kp END          &kp UP      &kp HOME   &kp MINUS         &kp EQUAL
&trans      &kp TILDE        &trans          &trans           &trans           &mkp MB5           &mmv MOVE_LEFT   &kp PG_DN        &kp LEFT         &kp DOWN    &kp RIGHT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans      &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &mmv MOVE_RIGHT  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp INSERT  &kp F11    &kp F12           &trans
&kp C_MUTE  &trans           &trans          &trans           &trans           &trans             &mkp LCLK        &trans           &trans           &trans      &trans     &trans
            >;

            display-name = "layer1";
            sensor-bindings = <&scroll_encoder>;
        };

        keyboard.ctrl {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp UP_ARROW     &kp F6  &kp F7  &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans            &kp DOWN         &trans  &trans  &kp F11     &kp F12    &kp UNDER    &kp PLUS
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans            &kp LEFT         &trans  &trans  &trans      &trans     &kp LBRC     &kp RBRC
&trans     &sys_reset    &trans          &bootloader   &trans        &trans            &kp RIGHT        &trans  &trans  &sys_reset  &soft_off  &bootloader  &trans
&trans     &trans        &trans          &trans        &trans        &kp KP_NUMLOCK    &mt LC(V) LC(C)  &trans  &trans  &trans      &trans     &trans
            >;

            display-name = "keyboard.ctrl";
            sensor-bindings = <&scroll_encoder>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        cond.layer {
            if-layers = <3 1>;
            then-layer = <5>;
        };
    };
};
